.sprite{
  width: 500px;
  height: 500px;
  background: url('giraffe-01.png') 0 0 no-repeat;
  animation: play 1s steps(8) infinite;
}

@keyframes play {
      0%{background-position: 0px;}
      100% {background-position: -4000px;}
}
